<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.only.grain.manage.mapper.PmsBaseCatalog2Mapper" >
  <resultMap id="BaseResultMap" type="com.only.grain.api.bean.PmsBaseCatalog2" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="catalog1_id" property="catalog1Id" jdbcType="INTEGER" />
  </resultMap>

</mapper>